.node-tree-wrap {
  padding: 10px 8px;
}

.node-tree-title {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
}

.node-tag {
  font-size: 11px;
  color: #777;
  margin-right: 6px;
}

.node-name {
  font-size: 12px;
}

